@using Microsoft.AspNetCore.Http; 
@using  HangManGame.Models;
@using  HangManGame.Logic;
@model HangManGame.Logic.Game;

    @{
        ViewData["Title"] = "Hang Man Game";
        string guess = Context.Session.GetString("Guess");
        string username = Context.Session.GetString("User");

        Player player = Player.Register(username);
        Game game = new Game();
        game.GetGuess(guess);
     // Game game = Game.Testing(guess);
    }



<div class="page-header">
    <h3> Welcome @player.UserName  </h3>
</div>

<div class="container">
    <p>Please enter your guess</p>
    <form asp-action="Game" asp-controller="/" method="post">
        <label asp-for="Guess"></label>
        <input asp-for="Guess" placeholder="Your guess goes here"/>
        <button type="submit" class="btn btn-primary">Submit</button>
        @game.Guess
    </form>
</div>