@using Microsoft.AspNetCore.Http; 
@using  HangManGame.Models;
@model HangManGame.Models.Player;

    @{
        ViewData["Title"] = "Hang Man Game";
        string username = Context.Session.GetString("User");

        Player player = Player.Register(username);
    }


<form asp-action="Index" asp-controller="/">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" placeholder="Your name goes here"/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
    <ul>
        Hello
    @player.UserName
    </ul>
</div>
